# Ignore Gradle project-specific cache directory
.gradle/
#gradle/  # needed for jitpack
#gradlew
#gradlew.bat

# Ignore Gradle build output directory
build/
bin/

# Eclipse files
.project
.classpath
.settings/
